In [1]:
#Replace the word "Rice" in Food_Name with "Grain".

In [2]:
import pandas as pd

In [3]:
food = pd.read_csv('food.csv')

In [4]:
food_sales = pd.read_csv('food_sales.csv')

In [5]:
df = pd.merge(food, food_sales, on= 'Food_Name')

In [6]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold
0        1       Pizza  Fast Food   8.99       300       Yes         120
1        2      Burger  Fast Food   5.49       450       Yes         200
2        3       Pasta    Italian   7.99       400        No         150
3        4       Sushi   Japanese  12.99       250       Yes          50
4        5       Tacos    Mexican   6.99       200        No         180
5        6       Salad    Healthy   4.99       150       Yes         300
6        7  Fried Rice      Asian   5.99       350       Yes         100
7        8   Ice Cream    Dessert   3.99       200       Yes         400
8        9       Steak      Grill  14.99       700        No          80
9       10        Soup    Healthy   3.49       100       Yes         250

In [25]:
df_rice = df['Food_Name'].str.replace('Rice','Grain', case = False , regex=True)

In [26]:
df_rice

0          Pizza
1         Burger
2          Pasta
3          Sushi
4          Tacos
5          Salad
6    Fried Grain
7      Ice Cream
8          Steak
9           Soup
Name: Food_Name, dtype: object