In [18]:
import pandas as pd
import numpy as np

In [19]:
FILEPATH = 'food.csv'

In [20]:
df = pd.read_csv(FILEPATH)

In [21]:
df

   Food_ID   Food_Name   Category  Price  Calories Available
0        1       Pizza  Fast Food   8.99       300       Yes
1        2      Burger  Fast Food   5.49       450       Yes
2        3       Pasta    Italian   7.99       400        No
3        4       Sushi   Japanese  12.99       250       Yes
4        5       Tacos    Mexican   6.99       200        No
5        6       Salad    Healthy   4.99       150       Yes
6        7  Fried Rice      Asian   5.99       350       Yes
7        8   Ice Cream    Dessert   3.99       200       Yes
8        9       Steak      Grill  14.99       700        No
9       10        Soup    Healthy   3.49       100       Yes

In [22]:
df['Discounted_Price'] = df['Price'] * 0.10

In [23]:
df['Discounted_Price']

0    0.899
1    0.549
2    0.799
3    1.299
4    0.699
5    0.499
6    0.599
7    0.399
8    1.499
9    0.349
Name: Discounted_Price, dtype: float64

In [24]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Discounted_Price
0        1       Pizza  Fast Food   8.99       300       Yes             0.899
1        2      Burger  Fast Food   5.49       450       Yes             0.549
2        3       Pasta    Italian   7.99       400        No             0.799
3        4       Sushi   Japanese  12.99       250       Yes             1.299
4        5       Tacos    Mexican   6.99       200        No             0.699
5        6       Salad    Healthy   4.99       150       Yes             0.499
6        7  Fried Rice      Asian   5.99       350       Yes             0.599
7        8   Ice Cream    Dessert   3.99       200       Yes             0.399
8        9       Steak      Grill  14.99       700        No             1.499
9       10        Soup    Healthy   3.49       100       Yes             0.349

In [25]:
df['Calorie_Level'] = df['Calories'] < 200

In [26]:
df['Calorie_Level']

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9     True
Name: Calorie_Level, dtype: bool

In [27]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Discounted_Price,Calorie_Level
0,1,Pizza,Fast Food,8.99,300,Yes,0.899,False
1,2,Burger,Fast Food,5.49,450,Yes,0.549,False
2,3,Pasta,Italian,7.99,400,No,0.799,False
3,4,Sushi,Japanese,12.99,250,Yes,1.299,False
4,5,Tacos,Mexican,6.99,200,No,0.699,False
5,6,Salad,Healthy,4.99,150,Yes,0.499,True
6,7,Fried Rice,Asian,5.99,350,Yes,0.599,False
7,8,Ice Cream,Dessert,3.99,200,Yes,0.399,False
8,9,Steak,Grill,14.99,700,No,1.499,False
9,10,Soup,Healthy,3.49,100,Yes,0.349,True

In [30]:
import numpy as np

In [35]:
df['Calorie_Level'] = np.where(df['Calories'] < 200, 'Low',
                      np.where(df['Calories'] <=400, 'Medium','High'))

In [36]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Discounted_Price,Calorie_Level
0,1,Pizza,Fast Food,8.99,300,Yes,0.899,Medium
1,2,Burger,Fast Food,5.49,450,Yes,0.549,High
2,3,Pasta,Italian,7.99,400,No,0.799,Medium
3,4,Sushi,Japanese,12.99,250,Yes,1.299,Medium
4,5,Tacos,Mexican,6.99,200,No,0.699,Medium
5,6,Salad,Healthy,4.99,150,Yes,0.499,Low
6,7,Fried Rice,Asian,5.99,350,Yes,0.599,Medium
7,8,Ice Cream,Dessert,3.99,200,Yes,0.399,Medium
8,9,Steak,Grill,14.99,700,No,1.499,High
9,10,Soup,Healthy,3.49,100,Yes,0.349,Low