In [1]:
#Add a new column that calculates Calories per Dollar (Calories / Price).

In [5]:
import pandas as pd

In [6]:
food = pd.read_csv('food.csv')

In [7]:
food_sales = pd.read_csv('food_sales.csv')

In [8]:
ratings = pd.read_csv('ratings.csv')

In [9]:
df = pd.merge(food, food_sales, on='Food_Name', how='outer')

In [10]:
df = pd.merge(df, ratings, on='Food_Name', how='outer')

In [11]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3
7,9,Steak,Grill,14.99,700,No,80,4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2

In [13]:
df['Calories/dollar'] = df['Calories']/df['Price']

In [14]:
df['Calories/dollar']

0    81.967213
1    58.430718
2    50.125313
3    50.062578
4    33.370412
5    30.060120
6    28.653295
7    46.697799
8    19.245574
9    28.612303
Name: Calories/dollar, dtype: float64

In [15]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Calories/dollar
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,81.967213
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,58.430718
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,50.125313
3,3,Pasta,Italian,7.99,400,No,150,3.8,50.062578
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,33.370412
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,30.060120
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,28.653295
7,9,Steak,Grill,14.99,700,No,80,4.4,46.697799
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,19.245574
9,5,Tacos,Mexican,6.99,200,No,180,4.2,28.612303