In [1]:
#Identify the 3 most calorie-dense food items (highest Calories per Dollar).

In [2]:
import pandas as pd

In [3]:
food = pd.read_csv('food.csv')

In [4]:
food_sales = pd.read_csv('food_sales.csv')

In [5]:
ratings = pd.read_csv('ratings.csv')

In [6]:
df = pd.merge(food, food_sales, on='Food_Name', how='outer')

In [7]:
df = pd.merge(df, ratings, on='Food_Name', how='outer')

In [8]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3
7,9,Steak,Grill,14.99,700,No,80,4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2

In [35]:
Calorie_df = df[df['Calories'] > 400],df['Calories']* df['Price']

In [37]:
Calorie_df

(   Food_ID Food_Name   Category  Price  Calories Available  Units_Sold  Rating
 0        2    Burger  Fast Food   5.49       450       Yes         200     4.0
 7        9     Steak      Grill  14.99       700        No          80     4.4,
 0     2470.5
 1     2096.5
 2      798.0
 3     3196.0
 4     2697.0
 5      748.5
 6      349.0
 7    10493.0
 8     3247.5
 9     1398.0
 dtype: float64)