In [1]:
#Determine the standard deviation of the Calories column.

In [2]:
import pandas as pd

In [4]:
food = pd.read_csv('food.csv')

In [6]:
food_sales = pd.read_csv('food_sales.csv')

In [18]:
df = pd.merge(food, food_sales, on ='Food_Name')

In [19]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold
0        1       Pizza  Fast Food   8.99       300       Yes         120
1        2      Burger  Fast Food   5.49       450       Yes         200
2        3       Pasta    Italian   7.99       400        No         150
3        4       Sushi   Japanese  12.99       250       Yes          50
4        5       Tacos    Mexican   6.99       200        No         180
5        6       Salad    Healthy   4.99       150       Yes         300
6        7  Fried Rice      Asian   5.99       350       Yes         100
7        8   Ice Cream    Dessert   3.99       200       Yes         400
8        9       Steak      Grill  14.99       700        No          80
9       10        Soup    Healthy   3.49       100       Yes         250

In [21]:
df1 = df['Calories'].std()

In [22]:
df1

176.0681686165901

In [23]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold
0        1       Pizza  Fast Food   8.99       300       Yes         120
1        2      Burger  Fast Food   5.49       450       Yes         200
2        3       Pasta    Italian   7.99       400        No         150
3        4       Sushi   Japanese  12.99       250       Yes          50
4        5       Tacos    Mexican   6.99       200        No         180
5        6       Salad    Healthy   4.99       150       Yes         300
6        7  Fried Rice      Asian   5.99       350       Yes         100
7        8   Ice Cream    Dessert   3.99       200       Yes         400
8        9       Steak      Grill  14.99       700        No          80
9       10        Soup    Healthy   3.49       100       Yes         250

In [ ]:
#Identify the food item with the highest and lowest calorie counts.

In [57]:
df_max = df.loc[[df['Calories'].idxmax()]],

In [58]:
df_max

(   Food_ID Food_Name Category  Price  Calories Available  Units_Sold
 8        9     Steak    Grill  14.99       700        No          80,)

In [62]:
df_min = df.loc[[df['Calories'].idxmin()]]

In [63]:
df_min

   Food_ID Food_Name Category  Price  Calories Available  Units_Sold
9       10      Soup  Healthy   3.49       100       Yes         250