In [1]:
#Find the total price of all items that are marked as Available = "Yes".

In [2]:
import pandas as pd

In [3]:
food = pd.read_csv('food.csv')

In [4]:
food_sales = pd.read_csv('food_sales.csv')

In [5]:
df = pd.merge(food, food_sales, on = 'Food_Name')

In [6]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold
0        1       Pizza  Fast Food   8.99       300       Yes         120
1        2      Burger  Fast Food   5.49       450       Yes         200
2        3       Pasta    Italian   7.99       400        No         150
3        4       Sushi   Japanese  12.99       250       Yes          50
4        5       Tacos    Mexican   6.99       200        No         180
5        6       Salad    Healthy   4.99       150       Yes         300
6        7  Fried Rice      Asian   5.99       350       Yes         100
7        8   Ice Cream    Dessert   3.99       200       Yes         400
8        9       Steak      Grill  14.99       700        No          80
9       10        Soup    Healthy   3.49       100       Yes         250

In [7]:
df['Total_price'] = df['Price'] * df['Units_Sold']

In [8]:
df['Total_price']

0    1078.8
1    1098.0
2    1198.5
3     649.5
4    1258.2
5    1497.0
6     599.0
7    1596.0
8    1199.2
9     872.5
Name: Total_price, dtype: float64

In [9]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Total_price
0,1,Pizza,Fast Food,8.99,300,Yes,120,1078.8
1,2,Burger,Fast Food,5.49,450,Yes,200,1098.0
2,3,Pasta,Italian,7.99,400,No,150,1198.5
3,4,Sushi,Japanese,12.99,250,Yes,50,649.5
4,5,Tacos,Mexican,6.99,200,No,180,1258.2
5,6,Salad,Healthy,4.99,150,Yes,300,1497.0
6,7,Fried Rice,Asian,5.99,350,Yes,100,599.0
7,8,Ice Cream,Dessert,3.99,200,Yes,400,1596.0
8,9,Steak,Grill,14.99,700,No,80,1199.2
9,10,Soup,Healthy,3.49,100,Yes,250,872.5

In [28]:
df1 = df[df['Available']== 'Yes'],df['Total_price']

In [29]:
df1

(   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold  \
 0        1       Pizza  Fast Food   8.99       300       Yes         120
 1        2      Burger  Fast Food   5.49       450       Yes         200
 3        4       Sushi   Japanese  12.99       250       Yes          50
 5        6       Salad    Healthy   4.99       150       Yes         300
 6        7  Fried Rice      Asian   5.99       350       Yes         100
 7        8   Ice Cream    Dessert   3.99       200       Yes         400
 9       10        Soup    Healthy   3.49       100       Yes         250

    Total_price
 0       1078.8
 1       1098.0
 3        649.5
 5       1497.0
 6        599.0
 7       1596.0
 9        872.5  ,
 0    1078.8
 1    1098.0
 2    1198.5
 3     649.5
 4    1258.2
 5    1497.0
 6     599.0
 7    1596.0
 8    1199.2
 9     872.5
 Name: Total_price, dtype: float64)

In [30]:
#Count the number of unique categories in the dataset.

In [51]:
df_unique = df['Category'].nunique()

In [52]:
df_unique

8