In [1]:
#Calculate the total calories for all food items grouped by the Available column.

In [2]:
import pandas as pd

In [3]:
FILEPATH = 'food.csv'

In [4]:
df = pd.read_csv(FILEPATH)

In [5]:
df

   Food_ID   Food_Name   Category  Price  Calories Available
0        1       Pizza  Fast Food   8.99       300       Yes
1        2      Burger  Fast Food   5.49       450       Yes
2        3       Pasta    Italian   7.99       400        No
3        4       Sushi   Japanese  12.99       250       Yes
4        5       Tacos    Mexican   6.99       200        No
5        6       Salad    Healthy   4.99       150       Yes
6        7  Fried Rice      Asian   5.99       350       Yes
7        8   Ice Cream    Dessert   3.99       200       Yes
8        9       Steak      Grill  14.99       700        No
9       10        Soup    Healthy   3.49       100       Yes

In [7]:
new_df = df.groupby('Available')[['Calories']].sum()

In [8]:
new_df

           Calories
Available
No             1300
Yes            1800