In [1]:
#created on 20250115

In [2]:
#https://www.scientecheasy.com/2022/09/data-types-in-python.html/

In [3]:
#datatypes

In [4]:
my_var = "Hi Friends!" 
my_var = 25
my_var = True

In [ ]:
#int datatype

In [5]:
num1 = 10
num2 = 20
num3 = 30
print(num1)
print(num2)
print(num3)

10
20
30

In [6]:
num1 = 100
num2 = 200
result = num1 + num2
print(result)

300

In [7]:
#Float Data type

In [8]:
num1 = 10.555
num2 = 20.99
result = num1 + num2
print(result)

31.544999999999998

In [9]:
num1 = 1.20E5
num2 = 2.30E5
result = num1 + num2
print(result)

350000.0

In [10]:
#Boolean datatype

In [11]:
a = (10 >= 4)
b = (25 == 5 * 5)
c = (18 != 2 * 9)
# Use the print function to see values stored in each variable.
print(a, b, c)

True True False

In [12]:
a = True
b = True + 5 
c = False * False
print(a, b, c)
print(type(a))

True 6 0
<class 'bool'>

In [13]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [14]:
#String Data type in Python

In [15]:
str1 = "Hello Python"
str2 = 'Happy birthday to you'
print(str1)
print(str2)
print(type(str1))

Hello Python
Happy birthday to you
<class 'str'>

In [16]:
str = """Welcome to Scientech Easy,
           Dhanbad, Jharkhand, India."""

In [17]:
#List Data type

In [18]:
list = [10, 20.50, "Python", True]
print(list)
print(type(list))

[10, 20.5, 'Python', True]
<class 'list'>

In [19]:
num_list = [10, 20, 30, 40]
print(num_list)
num_list[2] = 50 # updating element.
print(num_list)

[10, 20, 30, 40]
[10, 20, 50, 40]

In [20]:
#Tuple Data type

In [21]:
t = (10, 20, "Python", 2 + 10j)
print(t)
print(type(t))

(10, 20, 'Python', (2+10j))
<class 'tuple'>

In [22]:
#Set Data type

In [23]:
s = {1, 2, 'Hello', 4 + 50j}
print(s)
print(type(s))

{1, 2, (4+50j), 'Hello'}
<class 'set'>

In [24]:
#Dictionary Data type

In [25]:
dict = {1 : 'Orange',
        2 : 'Apple',
        3 : 'Banana'}
print(dict)
print(type(dict))

{1: 'Orange', 2: 'Apple', 3: 'Banana'}
<class 'dict'>