In [1]:
import pandas as pd

In [2]:
FILEPATH = 'food.csv'

In [4]:
df = pd.read_csv(FILEPATH)

In [5]:
df.head(2)

   Food_ID Food_Name   Category  Price  Calories Available
0        1     Pizza  Fast Food   8.99       300       Yes
1        2    Burger  Fast Food   5.49       450       Yes

In [6]:
df.head(5)

   Food_ID Food_Name   Category  Price  Calories Available
0        1     Pizza  Fast Food   8.99       300       Yes
1        2    Burger  Fast Food   5.49       450       Yes
2        3     Pasta    Italian   7.99       400        No
3        4     Sushi   Japanese  12.99       250       Yes
4        5     Tacos    Mexican   6.99       200        No

In [7]:
df.tail(5)

   Food_ID   Food_Name Category  Price  Calories Available
5        6       Salad  Healthy   4.99       150       Yes
6        7  Fried Rice    Asian   5.99       350       Yes
7        8   Ice Cream  Dessert   3.99       200       Yes
8        9       Steak    Grill  14.99       700        No
9       10        Soup  Healthy   3.49       100       Yes

In [16]:
df.dtypes

Food_ID        int64
Food_Name     object
Category      object
Price        float64
Calories       int64
Available     object
dtype: object

In [17]:
df.Food_Name

0         Pizza
1        Burger
2         Pasta
3         Sushi
4         Tacos
5         Salad
6    Fried Rice
7     Ice Cream
8         Steak
9          Soup
Name: Food_Name, dtype: object