In [1]:
import pandas as pd

In [2]:
FILEPATH = 'food.csv'

In [3]:
df = pd.read_csv(FILEPATH)

In [4]:
df = df[df['Available'] == 'Yes'][['Food_Name','Calories']]

In [5]:
df

    Food_Name  Calories
0       Pizza       300
1      Burger       450
3       Sushi       250
5       Salad       150
6  Fried Rice       350
7   Ice Cream       200
9        Soup       100