In [20]:
from pypika import Query, Table

In [21]:
# Define the table
users = Table('users')

In [22]:
# Build the INSERT query
query = Query.into(users).columns('name', 'age').insert('Alice', 25)

In [23]:
# Print the query
print(str(query))

INSERT INTO "users" ("name","age") VALUES ('Alice',25)