In [1]:
import pandas as pd

In [2]:
FILEPATH ='food.csv'

In [3]:
df= pd.read_csv(FILEPATH)

In [8]:
df = df[df['Calories'] < 200] [['Food_Name','Calories']]

In [9]:
df

  Food_Name  Calories
5     Salad       150
9      Soup       100